<?xml version="1.0"?>
<launch>
  <arg name="vehicle_name" default="bluerov" />



  <!-- Robot generation in Gazebo. Must be in the same name space for plugin to work -->
  <group ns="mallard">
   <node pkg="sprint_control" type="vis2command.py" name="vis2cmd" output="screen">

  </group>

  <group ns="$(arg vehicle_name)">
    <!-- <node name="keyboard" pkg="bluerov_sim" type="keyboard_control.py" output="screen" /> -->
    <node name="mixer_sprint" pkg="sprint_control" type="mixer_sprint.py" />
    <!-- <node name="Joy2cmd" pkg="bluerov_sim" type="bluerov_joy2mixer.py" /> -->
    <node name="Joy2cmd" pkg="sprint_control" type="bluerov_path2mixer.py" />
    <node pkg="joy" type="joy_node" name="joy">
            <param name="joy_node/dev" value="/dev/input/js" />
            <param name="coalesce_interval" type="double" value="0.05" />
            <!-- <param name="autorepeat_rate" type="double" value="20" /> -->
    </node>
  </group>


 </launch>